/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

button:focus {
  outline: none;
}

button:focus-visible {
  border-block-end: 1px solid var(--decorative-color, #f1b2ce);
}

a {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
}

a:hover {
  border-block-end: 1px solid var(--text-color, #f1b2ce);
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid var(--text-color, #f1b2ce);
}
