/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --decorative-color: #ff0070;
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);
  --main-font: "IBM Plex mono";
}
